html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto Slab', serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#9CC0E7, white);
    margin: 0;
}

.work {
    background: white;
}

.navigation {
    display: flex;
    background-color: white;
}

.logo {
    margin-left: 1rem;
}

.navbar-custom {
    background-color: white;
}

.navbar-custom .navbar-text{
    color: #0055A4;
    font-family: 'Roboto Slab', serif;
}

.navbar-custom .navbar-nav .nav-link {
    color: #0055A4;
}

.navbar-custom .nav-item.active .nav-link{
    color: #0055A4;
}

.navbar-custom .nav-item:hover .nav-link{
    color: black;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 85, 164, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgba(0, 85, 164, 1);
  } 

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav li {
    display: flex;
    font-size: large;
    color: #0055A4;
}

nav li:hover {
    text-decoration: underline;
    color: black;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    color: #0055A4;
}

nav a:active {
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

.about, .skills, .work {
    margin-right: 4rem;
}

.contact {
    margin-right: 1rem;
}

.projects {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.tool-img {
    width: 100%;
    height: auto;
}

.tool-img img {
    width: 20%;
}

.tools-skills {
    margin-bottom: 2rem;
}

.tools {
    margin-top: 1rem;
}

.site-content {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.intro {
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.intro-img {
    width: 100%;
    height: auto;
    margin-bottom: 9rem;
}

.intro-img img{
    width: 20%;
}

#me {
    margin-right: 2rem;
    margin-left: 5rem;
}

.desc {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

#resume {
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: -4rem;
    margin-bottom: 6rem;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

#resume:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
}

footer li {
    font-size: xx-small;
}

#email {
    margin-left: -1rem;
    margin-right: 1rem;
}

#linkedin, #email {
    text-decoration: none;
    background-color: white;
    color: #0055A4;
    display: inline-flex;
    text-align: center;
    border: 2px solid #9CC0E7;
    padding: 10px 20px;
}

#linkedin:hover, #email:hover {
    background-color: #9CC0E7;
    color: white;
}

@media only screen and (max-width: 600px) {
    footer {
        margin: auto;
    }

    .tool-img img {
        width: 50%;
    }

    .intro-img img {
        width: 50%;
    }

    #resume {
        width: 50%;
    }
}